<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Habarlaşmak</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/assets/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Ubuntu:wght@400;500&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/assets/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/assets/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/assets/css/style.css" rel="stylesheet">
</head>

<body>


    <!-- Navbar Start -->
    <%- include('component/navbar') %>
        <!-- Navbar End -->


        <!-- Page Header Start -->
        <div class="container-fluid page-header mb-5 p-0 bg-primary">
            <div class="container-fluid page-header-inner py-5" style="height: 400px;">
                <div class="container text-center mt-5">
                    <h1 class="display-3 text-white mt-5 animated slideInDown">Habarlaşmak</h1>
                </div>
            </div>
        </div>
        <!-- Page Header End -->


        <!-- Contact Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="text-primary text-uppercase">// Habarlaşmak //</h6>
                    <h1 class="mb-5">Eger-de sorag bermek isleseniz onda aşakdaky penjireden bize ýazyp bilersiniňiz
                    </h1>
                </div>
                <div class="row g-4">
                    <div class="col-12">
                        <div class="row gy-4">
                            <div class="col-md-4">
                                <div class="bg-light d-flex flex-column justify-content-center p-4">
                                    <h5 class="text-uppercase">// E-poçta //</h5>
                                    <p class="m-0"><i
                                            class="fa fa-envelope-open text-primary me-2"></i>Kakauk@awtoulag.gov.tm</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="bg-light d-flex flex-column justify-content-center p-4">
                                    <h5 class="text-uppercase">// Telefon belgi //</h5>
                                    <p class="m-0"><i class="fa fa-envelope-open text-primary me-2"></i>(+993 133)
                                        46-7-18</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="bg-light d-flex flex-column justify-content-center p-4">
                                    <h5 class="text-uppercase">// Adres //</h5>
                                    <p class="m-0"><i class="fa fa-envelope-open text-primary "></i>Kaka şäheriniň
                                        Türkmenbaşy köçesiniň 1-nji jaýy</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="iframe_map" class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
                        
                    </div>

                    <script>
                        function checkConnection() {
                            var node = document.getElementById('iframe_map');
                            if (navigator.onLine) {
                                node.innerHTML = '<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d25098.240245278368!2d57.956378!3d38.156931!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f7a9500288d5f15%3A0x6104d6587bf3cf6e!2z0JPRkdC60LTQtdC_0LUsINCi0YPRgNC60LzQtdC90LjRgdGC0LDQvQ!5e0!3m2!1sru!2sus!4v1716233667088!5m2!1sru!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>';
                            } else {
                                node.innerHTML = '<h1>Kartany doly görmek isleseňiz, interneda birigiň.</h1>'
                            }

                            
                        }

                        checkConnection();
                    </script>

                    <div class="col-md-6">
                        <div class="wow fadeInUp" data-wow-delay="0.2s">
                            <p class="mb-4">Türkmenistanyň Ministrler Kabinetiniň ýanyndaky Ulag we kammunikasiýalar
                                agentligine degişli bolan "Türkmenawtoulaglary" agentliginiň "Ahalawtoulag" ÖB-niň
                                Kakadaky awtoulag kärhanasy Ahal welaýatynyň Kaka etrabynyň Kaka şäheriniň Türkmenbaşy
                                köçesiniň 1-nji jaýynda ýerleşýär.</p>
                            <form action="/send-message" method="post">
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="name" name="name"
                                                placeholder="Your Name">
                                            <label for="name">Adyňyz:</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="email" class="form-control" id="email" name="email"
                                                placeholder="Your Email">
                                            <label for="email">E-poçta salgyňyz:</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="subject" name="phone_num"
                                                placeholder="Subject">
                                            <label for="subject">Telefon belgiňiz:</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <textarea class="form-control" placeholder="Leave a message here"
                                                name="message" id="message" style="height: 100px"></textarea>
                                            <label for="message">Hatyňyz</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100 py-3" type="submit">Ugratmak</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->

        <%- include('component/footer') %>


            <!-- Back to Top -->
            <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


            <!-- JavaScript Libraries -->
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
            <script src="/assets/lib/wow/wow.min.js"></script>
            <script src="/assets/lib/easing/easing.min.js"></script>
            <script src="/assets/lib/waypoints/waypoints.min.js"></script>
            <script src="/assets/lib/counterup/counterup.min.js"></script>
            <script src="/assets/lib/owlcarousel/owl.carousel.min.js"></script>
            <script src="/assets/lib/tempusdominus/js/moment.min.js"></script>
            <script src="/assets/lib/tempusdominus/js/moment-timezone.min.js"></script>
            <script src="/assets/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

            <!-- Template Javascript -->
            <script src="/assets/js/main.js"></script>
</body>

</html>