<div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Habarlaşmak üçin:</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Kaka şäheriniň Türkmenbaşy köçesiniň 1-nji jaýy</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>(+993 133) 46-7-18</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>Kakauk@awtoulag.gov.tm</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Iş sagatlary:</h4>
                <h6 class="text-light">Duşenbe - Anna:</h6>
                <p class="mb-4">09:00 - 18:00</p>
                <h6 class="text-light">Şenbe:</h6>
                <p class="mb-0">09:00 - 13:00 </p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Hyzmatlarymyz:</h4>
                <a class="btn btn-link" href="">Çalt we amatly</a>
                <a class="btn btn-link" href="">Baý tejribe</a>
                <a class="btn btn-link" href="">Ygtybarly hyzmatdaş</a>
                <a class="btn btn-link" href="">Işine ökde sürüjiler</a>
                <a class="btn btn-link" href="">Ýük daşamak</a>
            </div>
        </div>
    </div>
  
</div>