<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <div class="container">
     <a href="/" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <img src="/assets/img/logo.svg" class="img-fluid mx-3" alt="">
         <h2 class="m-0 text-primary">Ahalawtoulag</h2>
     </a>
     <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
         <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarCollapse">
         <div class="navbar-nav ms-auto p-4 p-lg-0">
             <a href="/" class="nav-item nav-link active">Baş sahypa</a>
             <a href="/user/login" class="nav-item nav-link">Işgärler</a>
             <a href="/contact" class="nav-item nav-link">Habarlaşmak</a>
         </div>
     </div>
    </div>
 </nav>